{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".ts", ".tsx"],
        "alias": {
          "@shared/*": "./src/shared"
        }
      }
    ],
    "react-native-reanimated/plugin"
  ]
}
